# Environment variables
.env

# Google Cloud credentials
serviceAccountKey.json

# Node modules
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

.vscode/

uploads/

index3.html

style2.css
